.marginTop {
	margin-top: 20rpx;
}

.marginBottom {
	margin-bottom: 20rpx;
}

.marginLeft {
	margin-left: 20rpx;
}

.marginRight {
	margin-right: 20rpx;
}

.flex {
	display: flex;
}

.fillWidth {
	width: 100%;
}

.centerWidth {
	margin-left: auto;
	margin-right: auto;
}

.centerHeight {
	margin-top: auto;
	margin-bottom: auto;
}

.centerParent {
	margin: auto;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
}